<?xml version='1.0' encoding='utf-8'?>

<launch>
    <!--打开物联网设备-->
    <node pkg = "iot_wifi_system" type = "CASTLEX_IOT_Node" name = "CASTLEX_IOT_Node" output="screen">
	<param name="product_key_param" value="a1KEMZ8ZAov" />
	<param name="device_name_param" value="HG-PcHost" />
	<param name="device_secret_param" value="f8a27072944d2658227fb635b61108ea" />
	<param name="host_param" value="a1KEMZ8ZAov.iot-as-mqtt.cn-shanghai.aliyuncs.com" />
	<param name="sub_topic_param" value="/broadcast/a1KEMZ8ZAov/IOTmsg" />
	<param name="pub_topic_param" value="/broadcast/a1KEMZ8ZAov/IOTmsg" />
    </node>

</launch>
